# Dependencies
node_modules/

# Build output
out/
dist/
dist-electron/

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment
.env
.env.local
.env.*.local

# Electron builder
release/
