# 国内镜像，使用时可以取消注释
# electron_mirror=https://npmmirror.com/mirrors/electron/
# electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
# registry=https://registry.npmmirror.com

# 打包时使用
electron_builder_binaries_mirror=https://github.com/electron-builder/electron-builder-binaries/releases/download/